/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    img {
        max-width: 90px;
        object-fit: contain;
    }
}

.header-items {
    display:flex;
    flex-direction: row;
    gap: 35px;
    padding-top: 10px;

    a:hover{
        color: blue;
        border-top: 2px solid var(--main-color);
    }
}

h2 {
    margin-top: 70px;
}

/* .headline {
    display: flex;
    flex-direction: column;
    text-align:justify;
    gap: 8px;
} */

.navigation-bar {
    display: flex;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border: 1px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.icon-location {
    height: 49px;
    background-color: #F2F2F2;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    align-content: center;
    text-align: center;
    border: 1px;
}

.search {
    border-width: 0px;
    height: 49px;
    width: 200px;
    box-sizing: border-box;
    padding-left: 20px;
    outline: none;
  }

.search::placeholder {
    font-size: 18px;
    font-weight: bold;
    color:black;
    text-align: center;
}

.button-search {
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    height: 49px;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    border-width: 0px;
    cursor: pointer;
    padding:15px, 16px, 15px, 16px;
    /* gap:10px; */
}

.search-icon-mobile {
    display: none;
}

.filters-category {
    display: flex;
    flex-direction:row;
    gap: 15px;
    width: 758px;
    height: 50px;
}

.filter_text {
    width: 54px;
    height: 50px;
    align-content: center;
    font-weight: bold;
}

.filters-container {
    display: flex;
    gap: 15px;
}

.filter_categ {
    height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;    
    border-radius: 30px 30px 30px 30px;
    border: 3px solid lightgray;
    cursor: pointer;
}
.filter_categ:nth-child(1) {
    width: 171px;
}
.filter_categ:nth-child(2) {
    width: 134px;
}
.filter_categ:nth-child(3) {
    width: 170px;
}
.filter_categ:nth-child(4) {
    width: 167px;
}

.filter_categ:hover {
    background-color: lightblue;
}

.infobar {
    display: flex;
    gap: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.fa-solid {
    color: var(--main-color);
}

.fa-location-dot {
    color: black;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
    margin-inline: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergements-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards .card {
    margin-top: 33px;
    width: 250.33px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    padding-left: 15px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    padding-left: 15px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    padding-left: 15px;
}

.hebergements-foot {
    margin-top: 30px;
}

.hebergements-foot .section-title {
    font-size: 18px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* ******Activities****** */

.activities {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding: 30px;
 } 

.activities-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 439px;
    gap: 30px;
}

.activities-frame .card {
    width: 25%;
    height: 439px;
    padding: 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

 .activities-frame img {
    object-fit: cover;
    height: 380px;
    width: 100%;
    border:0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }

 .activities-frame .card-content {
    width: 297.5px;
    height: 59px;
    border-radius: 0px, 0px, 20px, 20px;
    padding: 20px, 19px, 20px, 19px;
    gap: 10px;
 }
 .activities-frame .card-title {
    padding-left: 10px;
}

/* ******Footer****** */

footer{ 
    background-color: var(--main-bg-color);
    margin-top: 70px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.footer-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    width: 33%;
    height: 163px;
    padding: 10px;
    gap:15px;
}

h4 {
    margin-bottom: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}